[run]
source = .
branch = True
omit =
    */migrations/*
    */tests.py
    */factories.py
    core/settings/*
    core/wsgi.py
    core/asgi.py
    core/celery.py
    manage.py
    */apps.py
    */__init__.py
    subscriptions/tasks.py
    venv/*

[report]
show_missing = True
skip_covered = True
fail_under = 95
exclude_lines =
    pragma: no cover
    raise NotImplementedError
